<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1663494d-7a91-42ec-8d14-03587b47efec" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 5" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1663494d-7a91-42ec-8d14-03587b47efecfileName">REST-Service-5</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>