<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5dd99dfe-7d95-4751-942e-c37e828a7ddb" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 12" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="5dd99dfe-7d95-4751-942e-c37e828a7ddbfileName">REST-Service-12</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>