<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0d264f6f-6794-40b2-81e3-565be538ab58" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 6" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="0d264f6f-6794-40b2-81e3-565be538ab58fileName">REST-Service-6</con:setting></con:settings><con:definitionCache/><con:endpoints/></con:interface>