<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="dc646b72-5259-4e26-ba70-54e03aae9a43" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="dc646b72-5259-4e26-ba70-54e03aae9a43fileName">REST-Service-1</con:setting></con:settings><con:definitionCache/><con:endpoints/></con:interface>