<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1bfabc42-0362-47bc-8e03-0ca70fe1ae18" name="FInd Status of Pets" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1bfabc42-0362-47bc-8e03-0ca70fe1ae18fileName">FInd-Status-of-Pets</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>