<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="60329aff-acef-4b4d-a3b3-18ee0f4a9fdb" name="Update Pet details" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="60329aff-acef-4b4d-a3b3-18ee0f4a9fdbfileName">Update-Pet-details</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>